* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    background-color: #2e2d2d;
    color: #bbfcfb;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header li {
    margin: 0;
}

header a {
    color: #bbfcfb;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
    flex-direction: column;
}

h3 {
    color: #ffffff;
}

/* Alignement du jeu en vedette */
.featured-game {
    width: 80%;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
}

.featured-content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.featured-content img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.featured-content .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 8px;
}

.featured-content h2 {
    font-size: 2em;
    color: #ffffff;
}

.games-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.game-card {
    background-color: #2e2d2d;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.game-card:hover {
    transform: translateY(-10px);
}

.game-card a {
    text-decoration: none;
    color: inherit;
}

.game-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.details {
    padding: 15px;
    text-align: center;
}

.details h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.details span {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.price {
    font-weight: bold;
    color: #00d166;
}

.featured-content .info p,
.featured-content .info span,
.details p,
.details span {
    color: #ffffff; /* Met tout le texte en blanc */
}


